h2
{
    font-size: 35px;
    color: olivedrab;
    text-align: center;
}
p{
    font-size: 20px;
    color: orange;
    text-align: center;
}
body{
    background-color: blanchedalmond;
}